* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #e7e7e6;

    padding: 0.5rem;
}

/* HEADER STYLES */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    border-radius: 20px 20px 0px 0px;
}

header>img {
    width: 70px;
}

header>h1 {
    font-weight: 400;
}

@media screen and (max-width: 425px) {
    header>img {
        width: 50px;
    }

    header>h1 {
        font-size: 26px;
    }
}

/* INGREDIENT FORM STYLES */
main {
    padding: 2rem 1rem;
}

.add-ingredient__form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.add-ingredient__form>input {
    border-radius: 5px;
    border: 1px solid #D1D5DB;
    padding: 9px 13px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    max-width: 400px;
}

.add-ingredient__form>button {
    font-family: Inter, sans-serif;
    border-radius: 5px;
    border: none;
    background-color: #141413;
    color: #FAFAF8;
    padding: 9px 13px;
    min-width: 150px;
}

.add-ingredient__form>button::before {
    content: "+";
    margin-right: 5px;
}

.add-ingredient__form>button:hover {
    font-weight: 600;
}

@media screen and (max-width: 425px) {
    .add-ingredient__form {
        flex-direction: column;
    }

    .add-ingredient__form>input,
    .add-ingredient__form>button {
        width: 100%;
    }
}